* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::placeholder, .placeholder {
    color: #838383;
    font-style: italic;
    font-size: 0.8rem;
    padding-left: 10px;
}

/* ---------- MENU ---------- */
.public-menu {
    align-items: center;
    justify-content: center;
    display: flex;
    top: 10rem;
    margin: 7% auto;
    z-index: 100;
}

.public-menu a {
    text-align: center;
    text-decoration: none;
    font-size: 1.3rem;
    color: #ffffff;
    font-family: Tahoma, sans-serif;
    font-weight: 700;
    padding: 10px 20px;
    text-shadow: 0.1em 0.1em 0.3em #3b3b3b
}

.admin-menu {
    position: fixed;
    bottom: 5%;
    right: 5%;
}

.catalog-menu {
    display: inline-block;
}

.catalog-menu:hover .dropdown-catalog {
    display: flex;
}

.dropdown-catalog {
    display: none;
    position: absolute;
    align-items: center;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.3rem;
    left: 36.8%;
    padding: 7px;
}

.dropdown-catalog a {
    font-size: 0.9rem;
    line-height: 1rem;
    text-shadow: none;
    padding: 0.6rem;
    color: black;
}

/* ---------- ACCUEIL ---------- */


.body-accueil img {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
}


.block-accueil {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 75%;
}

.block-accueil div {
    margin: auto 0;
}

.title-accueil img {
    filter: drop-shadow(5px 5px 10px #000000);
    width: 50%;
}

.intro-accueil {
    color: white;
    font-size: 1.2rem;
    font-style: italic;
    text-shadow: 5px 5px 5px #000000;
    padding-left: 25%;
}

.prev, .next {
    color: white;
    text-decoration: none;
    margin: 0 auto;
}

.card-accueil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
}

.card-accueil .card {
    z-index: 100;
}

/* ---------- CARD PROMO ---------- */
.card {
    position: relative;
    background-color: #ffffff;
    color: #222222;
    display: flex;
    width: 450px;
    height: 400px;
    box-shadow: 0 0 10px 2px #666666;
    z-index: 100;
    margin: 0 auto;
    place-self: center;
}

.card .img {
    position: absolute;
    width: 450px;
    height: 400px;
    overflow: hidden;
    z-index: -1;
}

.card .img1 {
    position: absolute;
    top: -1px;
    left: 53%;
}

.card .img2 {
    position: absolute;
    bottom: 3%;
    left: 66%;
    opacity: 30%;
    transform: scale(1.3);
}

.card .title {
    position: absolute;
    align-items: baseline;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    top: 4rem;
    left: 1.6rem;
    display: flex;
}

.card .category {
    position: absolute;
    top: 5.8rem;
    right: 17rem;
    font-style: italic;
}

.card .desc {
    position: absolute;
    top: 8.5rem;
    left: 3.5rem;
}

#promo {
    color: #ffffff;
    font-family: Tahoma, sans-serif;
    border-radius: 0.2rem;
    padding: 0.55rem;
    background-color: #790000;
    position: absolute;
    font-weight: bold;
    top: 15.7rem;
    right: 20.4rem;
    font-size: 1.3rem;
    box-shadow: 0 0 0.3rem 0.1rem #666666;
    width: 30%;
    text-align: center;
}


.card .link-pay {
    position: absolute;
    top: 20.5rem;
    left: 3.5rem;
    font-weight: 900;
    color: black;
    text-decoration: none;
    border: 0.2rem black solid;
    padding: 0.4rem;
    border-radius: 0.3rem;
}

.card #prix {
    position: absolute;
    top: 255px;
    left: 85px;
    font-size: xx-large;
    font-weight: bold;
}

.card .new-price {
    position: absolute;
    top: 16.7rem;
    right: 13.8rem;
    font-size: 1.6rem;
    font-weight: 700;
}

.card .surligne {
    position: absolute;
    top: 15.7rem;
    right: 14.2rem;
    font-size: 1.1rem;
    text-decoration: line-through;
}

.card .date {
    background-color: #790000;
    color: white;
    width: 10.5rem;
    font-family: Tahoma, sans-serif;
    font-size: 1.2rem;
    border-radius: 0.3rem;
    position: absolute;
    padding: 0.2rem;
    top: 1rem;
    right: -0.7rem;
    text-align: center;
    font-weight: 700;
    box-shadow: 0 0 0.3rem 0.1rem #666666;
}

.card .link-show {
    color: black;
    position: absolute;
    left: 93%;
    top: 92%;
    border: none;
    background-color: transparent;
}

/* ---------- CARD SHOW ---------- */

.show-art {
    position: absolute;
    width: 16rem;
    height: 8rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    bottom: 15%;
    background-color: white;
    box-shadow: 0 0 0.3rem 0.1rem #222222;
}

.show-art .title {
    position: absolute;
    align-items: baseline;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    top: 47%;
    left: 15%;
    display: flex;
}

.show-art .title h5 {
    font-size: 0.9rem;
}

.show-art .category {
    position: absolute;
    top: 69%;
    right: 28%;
    font-style: italic;
}

.show-art .link {
    background-color: #7f5441;
    padding: 0.7rem;
    border-top-right-radius: 0.5rem;
    font-family: Tahoma, sans-serif;
    color: white;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.show-art .link-show {
    color: white;
    border: none;
    background-color: transparent;
}

/* ---------- ABOUT US ---------- */

#video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
}

.block-about-us {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
}

.about-us {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 3rem;
    border-radius: 0.5rem;
    overflow: auto;
    text-align: justify;
}

.about-us::-webkit-scrollbar {
    width: 10px;
}

.about-us::-webkit-scrollbar-thumb {
    background: #888888;
    border-radius: 0.5rem;
}

.about-us-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5%;
}

.about-us-logo {
    margin: 5% auto;
    width: 60%;
    height: auto;
    filter: drop-shadow(10px 10px 10px #000000);
}

.about-us-pics {
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 0.5rem;
    width: 100%;
    height: auto;
}

/* ---------- CATALOG ---------- */

.img-catalog img {
    filter: blur(10px)
}

.catalog .card, .catalog #promo, .catalog .date {
    box-shadow: 0 0 0.5rem 0.1rem #2d2d2d;
}

.search {
    position: absolute;
    top: 25%;
    right: 24%;
    z-index: 2;
}

.search form, .search .slider {
    display: flex;
    align-items: center;
}

.search select {
    padding: 0.2rem;
    border-radius: 0.3rem;
    text-transform: uppercase;
    font-weight: bolder;
    margin: 0 2rem;
    position: relative;
    right: 10rem;
}

.search option {
    font-size: 0.7rem;
    padding: 0.1rem;
}

#min, #max {
    background-color: white;
    width: 4rem;
    text-align: center;
    font-weight: bolder;
    font-size: 0.8rem;
    border-radius: 0.1rem;
    margin: 0 0.5rem;
    padding: 0.2rem 0;
}

#min {
    position: relative;
    right: 11.5rem;
}

#left svg, #right svg, .search-button {
    color: white;
    margin-bottom: 0.15rem;
}

#right {
    position: relative;
    left: 1.1rem;
}

#left {
    position: relative;
    right: 12.6rem;
}

.search-button {
    border: none;
    background-color: transparent;
    margin: 0 0.5rem;
    padding-bottom: 0.2rem;
}

#lower, #upper {
    position: absolute;
    appearance: none;
    overflow: hidden;
    outline: none;
    pointer-events: none;
    background: linear-gradient(white, white) no-repeat center;
    background-size: 100% 0.2rem;
    right: 10rem;
    width: 13.2rem;
}

#lower::-webkit-slider-thumb, #upper::-webkit-slider-thumb {
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 0.2rem;
    background-color: #dddddd;
    position: relative;
    cursor: pointer;
    appearance: none;
    pointer-events: all;
}

#upper {
    background: none;
}

.message-catalog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
}

.block-catalog {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -5rem;
    width: 80%;
    margin: 0 auto;
    z-index: -1;
}

.catalog .title {
    transform: scale(0.8);
}

.catalog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    z-index: -1;
    transform: scale(0.7);
    position: relative;
}

.switch-number {
    display: flex;
    font-weight: 700;
    margin: 0 auto;
    position: relative;
    bottom: 5.5rem;
}

.switch-left, .switch-right {
    color: white;
    margin: auto 0;
}


.switch-left-not, .switch-right-not {
    color: #cfcfcf;
    margin: auto 0;
}

.switch-number-not, .switch-number-current {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    margin: 0;
    color: black;
}

.switch-number-not {
    background-color: #ffffff;
}

.switch-number-current {
    background-color: #cfcfcf;
}

/* ---------- CONTACT ---------- */

.contact {
    display: flex;
}

.map {
    position: fixed;
    height: 100vh;
    width: 70vw;
    left: 30%;
    top: 0;
    z-index: -1;
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
}

.position {
    position: absolute;
    right: 2%;
    bottom: 5%;
    border-radius: 0.3rem;
    width: 20%;
    height: 29%;
    overflow: auto;
}

.position::-webkit-scrollbar {
    width: 8px;
}

.position::-webkit-scrollbar-thumb {
    background: #454545;
    border-radius: 0.5rem;

}

#shop {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 0.3rem;
}

#shop a {
    color: black;
    text-decoration: none;
}

#img {
    width: 4rem;
    float: right;
    border: 2px solid black;
    padding: 5px;
    border-radius: 0.5rem;
    margin: 5px;
}

#name {
    font-size: 1.2rem;
    font-weight: 800;
    padding: 10px;
}

#ville {
    text-align: end;
    display: block;
    font-size: 1rem;
}


#here {
    position: absolute;
    padding: 0.5rem;
    border: none;
    background-color: transparent;
    right: 1rem;
    top: 1rem;
}

.form-contact {
    position: absolute;
    top: 20%;
    left: 8%;
    width: 400px;
}

.form-contact form {
    display: flex;
    flex-direction: column;

}

.form-contact div {
    display: flex;
    flex-direction: column;
    margin: 0.6rem 0;
}

.form-contact label {
    margin: 0;
}

.form-contact input, .form-contact textarea {
    padding: 0.3rem;
    margin: 0.5rem;
    border: none;
    border-bottom: 1px solid grey;
    resize: none;
}

.form-contact button {
    margin: 0.5rem auto;
    padding: 0.2rem;
    width: 60%;
    border: 1px solid grey;
    border-radius: 0.3rem;
}

.social-network {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 5%;
    left: 2%;
    opacity: 70%;
    width: 15%;
}

.social-network div {
    display: flex;
}

.social-network p {
    margin: auto 0;
    padding-left: 5px;
}

.social-network a {
    padding: 5px;
    border: 2px solid black;
    border-radius: 0.5rem;
    margin: 1%;
}

.social-network svg {
    height: 1.7rem;
    width: 1.7rem;
}

/* ---------- LIGHT BOX ---------- */

.light-box {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.80);
    color: black;
    z-index: 100;
    top: 0;
}

.light-box .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55%;
    height: 70%;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.light-box .prev, .light-box .next {
    position: absolute;
    color: black;
}

.slidebox {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.view-slide {
    position: relative;
    bottom: -47%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: row;
    overflow: auto;
    width: 90%;
}

.view-slide::-webkit-scrollbar {
    height: 10px;
}

.view-slide::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 0.5rem;
}

.view-slide img {
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 0.8rem 1rem;
    height: 9rem;
}

.box .prev {
    transform: rotate(90deg);
    color: white;
    left: 0;
}

.box .next {
    transform: rotate(90deg);
    color: white;
    right: 0;
}

.back-box {
    right: 0;
    top: 0;
    position: absolute;
    color: white;
}

@media screen and (max-width: 1300px) {

    /* ---------- HOME ---------- */
    .card-accueil {
        transform: scale(0.8);
        padding: 0;
    }

    .show-art {
        transform: scale(0.9);
        left: -1%;
    }

    /* ---------- ABOUT US---------- */
    .block-about-us {
        width: 60%;
        height: 55%;
        top: 55%;
    }

    /* ---------- CATALOG ---------- */
    .search {
        top: 22%;
    }

    .search select {
        top: 2.5rem;
        left: 14rem;
    }

    .search a {
        position: absolute;
        top: 2.7rem;
        left: 27.7rem;
    }

    #lower, #upper {
        right: 7.5rem;
    }

    .block-catalog {
        width: 100%;
    }

    .catalog {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    /* ---------- CONTACT ---------- */
    .form-contact {
        transform: scale(0.9);
    }

    .social-network {
        transform: scale(0.8);
    }

    .social-network p {
        display: none;
    }

    .position {
        width: 30%;
        transform: scale(0.8);
    }

}

@media screen and (max-width: 900px) {

    .link-show {
        display: none;
    }

    /* ---------- MENU ---------- */
    .catalog-menu:hover .dropdown-catalog {
        display: none;
    }

    /* ---------- HOME ---------- */
    .block-accueil {
        flex-direction: column;
        top: 36%;
        transform: translateX(-50%);
    }

    .title-accueil img {
        width: 90%;
    }

    .show-art {
        left: -2%;
        top: 33%;
    }

    /* ---------- ABOUT US ---------- */
    .block-about-us {
        display: block;
        margin: 10% auto;
        position: relative;
        transform: none;
        right: inherit;
    }

    /* ---------- CATALOG ---------- */
    .search {
        top: 28%;
    }

    .catalog {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        top: -7rem;
    }

    .message-catalog {
        top: 75%;
        font-size: 2rem;
    }

    .switch-number {
        bottom: 27.5rem;
    }

    /* ---------- CONTACT ---------- */
    .contact {
        display: block;
    }

    .form-contact {
        width: 400px;
        margin: 0 auto;
        position: relative;
        left: inherit;
    }

    .social-network {
        position: fixed;
    }

    .map {
        width: 500px;
        height: 400px;
        position: relative;
        clip-path: none;
        left: initial;
        margin: 10% auto;
        border: 1px solid #bdbdbd;
        z-index: 100;
    }

    .position {
        display: none;
    }

    #here {
        display: none;
    }

}

@media screen and (max-width: 500px) {

    /* ---------- MENU ---------- */
    .public-menu {
        flex-direction: column;
    }

    /* ---------- ACCUEIL ---------- */
    .show-art {
        display: none;
    }

    .intro-accueil {
        font-size: 1rem;
    }

    /* ---------- ABOUT US ---------- */
    .block-about-us {
         width: 90%;
     }

    /* ---------- CATALOG ---------- */
    .search {
        right: 3%;
        top: 35%;
        transform: scale(0.9);
    }

    #lower, #upper {
        right: 5.3rem;
    }

    .search button {
        top: 4rem;
        left: 5rem;
        position: absolute;
        transform: scale(1.5);
    }

    .search a {
        top: 4rem;
        left: 8rem;
        position: absolute;
        transform: scale(1.5);
    }

    /* ---------- CONTACT ---------- */
    #mapid {
        width: 400px;
        height: 300px;
    }

    .social-network {
        display: flex;
        position: relative;
        flex-direction: row;
        margin: 5%;
    }

}
